html,
body {
  height: 100%;
  background: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5 {
  /*font-family: "Poppins", sans-serif;*/
  font-family: "Libre Franklin", sans-serif;
  color: #666769;
}
p {
  font-family: "Abel", sans-serif;
  color: #8a9199;
}

.buy-font {
  color: #08b889;
}
.sell-font {
  color: #08b889;
}

.crypto-container {
  border: 1px solid #08b889;
  border-radius: 10px;
  padding: 20px;
}
.footer-style {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 180px;
}

.qr-img {
  height: 250px;
}

@media (max-width: 600px) {
  .footer-style {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .qr-img {
    height: 250px;
  }
}
