html,
body {
  height: 100%;
}

.footer-style {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  .footer-style {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
